body {
  font-family: "Cairo-Regular";
  background-image: url(./imgs/home.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  text-align: right;
}

body.ovh {
  overflow: hidden;
}

.clear {
  clear: both;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 17px;
  margin-left: 20px;
}

.topnav a {
  font-size: 14px;
  color: #b7b7b7;
  font-family: "cairo-semibold";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.topnav a:hover {
  color: #e46737;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.logo-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 20px;
}

.searchbox {
  width: 45.5%;
  position: relative;
}

.searchbox input {
  width: 100%;
  height: 51px;
  border: 1px solid #e6e6e6;
  border-radius: 30px;
  padding-right: 35px;
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.searchbox input::-webkit-input-placeholder {
  font-size: 14px;
  color: #c9c9c9;
}

.searchbox input:-ms-input-placeholder {
  font-size: 14px;
  color: #c9c9c9;
}

.searchbox input::-ms-input-placeholder {
  font-size: 14px;
  color: #c9c9c9;
}

.searchbox input::placeholder {
  font-size: 14px;
  color: #c9c9c9;
}

.searchbox button {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  outline: 0;
  position: absolute;
  top: 16px;
  left: 33px;
  color: #757d80;
  font-size: 14px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.searchbox input:focus {
  border: 1px solid #e56737;
}

.searchbox button:hover {
  color: #e56737;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-box button,
.egp button,
.fav a {
  background-color: transparent;
  border: none;
  color: #757d80;
  font-size: 14px;
  padding: 0;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.account-box button i,
.fav a i {
  font-size: 17px;
}

.account-box,
.fav {
  margin-left: 22px;
}

.account-box .dropdown-menu {
  top: 20px;
  right: auto;
  left: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 3px;
  border: none;
  padding: 0;
  min-width: 136px;
  padding-right: 11px;
  padding-top: 10px;
  margin-top: 7px;
  padding-bottom: 10px;
  padding-left: 11px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.account-box .dropdown-menu > li > a {
  font-size: 14px;
  padding: 0;
  color: #4c3370;
  line-height: 36px;
  border-bottom: 1px solid #f7f7f7;
}

.account-box {
  position: relative;
}

.account-box .dropdown-menu > li > a {
  font-size: 14px;
  padding: 0;
  color: #757d80;
  line-height: 36px;
  border-bottom: 1px solid #f4f4e1;
}

.account-box .dropdown-menu > li > a:hover,
.account-box .dropdown-menu > li > a:focus {
  color: #e56737;
  background-color: transparent;
}

.account-box .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-width: 9px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -17px;
  position: absolute;
}

.account-box .dropdown-menu > li:last-child > a {
  border-bottom: none;
}

.account-box button:hover,
.egp button:hover,
.fav a:hover {
  color: #e56737;
}

.egp button {
  font-family: "cairo-semibold";
  font-size: 14px;
  color: #757d80;
}

.egp button span.countspan {
  font-size: 13px;
  color: #ffffff;
  background-color: #e56737;
  width: 15px;
  left: 9px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  line-height: 15px;
  bottom: 13px;
  display: inline-block;
  text-align: center;
  top: -6px;
}

.egp button i.fa-shopping-cart {
  font-size: 16px;
  margin-left: 8px;
  position: relative;
}

.logo {
  margin-top: -18px;
}

.menubar {
  min-height: 48px;
  text-align: center;
  background-color: #757d80;
  margin-top: 14px;
  border-radius: 20px 20px 0px 0px;
}

.menubar li {
  padding: 0;
  padding-left: 5px;
}

.menubar li:last-child {
  padding: 0;
}

.menubar li a {
  color: #ffffff;
  font-size: 14px;
  font-family: "cairo-semibold";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menubar li a:hover {
  color: #b4b4b4;
}

.side-slider {
  margin-bottom: 10px;
}

.side-slider .owl-carousel .owl-nav .owl-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  color: #fff;
  width: 40px;
  height: 40px;
  right: 31px;
  border-radius: 50%;
  font-size: 15px;
  background-color: rgba(54, 54, 54, 0.6);
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.side-slider .owl-carousel .owl-nav .owl-next {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  color: #fff;
  width: 40px;
  height: 40px;
  left: 31px;
  border-radius: 50%;
  font-size: 15px;
  background-color: rgba(54, 54, 54, 0.6);
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.side-slider .owl-carousel .owl-nav .owl-next:hover,
.side-slider .owl-carousel .owl-nav .owl-prev:hover {
  background-color: #e56737;
}

.side-slider .owl-carousel .owl-stage-outer {
  border-radius: 0px 0px 20px 20px;
}

.side-slider .owl-dots {
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  bottom: 46px;
}

.side-slider .owl-dots .owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 8px;
}

.side-slider .owl-dots .owl-dot.active {
  background-color: #e56737;
}

.side-item {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.side-title {
  text-align: center;
  font-size: 24px;
  color: #757d80;
}

.side-title hr {
  margin-top: 8px;
  border-width: 1px;
  width: 24px;
  border-color: #e56737;
  margin-bottom: 0;
  margin-bottom: 30px;
}

.pro-slider .owl-carousel .owl-item img {
  width: auto;
  margin: auto;
}

.photo-side {
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-item {
  text-align: center;
  border: 1px solid #f5f5f4;
  border-radius: 20px;
  padding-top: 35px;
}

.name-pro a {
  font-size: 15px;
  color: #757d80;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-top: 25px;
  display: block;
  margin-bottom: 5px;
}

.info .price {
  font-size: 16px;
  color: #c1c1c1;
  direction: ltr;
  text-decoration: line-through;
  display: inline-block;
  font-family: "din";
}

.info .mode {
  color: #e56737;
  font-size: 16px;
  margin-right: 5px;
  direction: ltr;
  display: inline-block;
  margin-bottom: 20px;
  font-family: "din";
}

.name-pro a:hover {
  color: #e56737;
}

.side-item {
  position: relative;
}

.pro-slider {
  border: 1px solid #ebebeb;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: white;
}

.pro-overlay {
  text-align: center;
  position: absolute;
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 100%;
  height: 285;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.ic-product {
  white-space: nowrap;
  position: absolute;
  top: 109px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
}

.side-item:hover .pro-overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.side-item:hover {
  border: 1px solid #e56737;
}

.ic-pro {
  padding: 0;
  border: 0;
  background-color: rgba(117, 125, 128, 0.9);
  width: 40px;
  height: 40px;
  font-size: 15px;
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  line-height: 40px;
  margin: 0px 1px;
  display: inline-block;
  border-radius: 50%;
}

.ic-pro:hover {
  background-color: #e56737;
  color: #fff;
}

.pro-slider .owl-dots {
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  bottom: -34px;
}

.pro-slider .owl-dots .owl-dot {
  display: inline-block;
  width: 10px;
  margin: 0px 5px;
  height: 10px;
  background-color: #e3e3e3;
  border-radius: 50%;
}

.pro-slider .owl-dots .owl-dot.active {
  background-color: #e56737;
}

.catboxes {
  margin-top: 25px;
  margin-bottom: 0px;
}

.catbox {
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.catname {
  position: absolute;
  height: 46px;
  line-height: 46px;
  width: 0;
  text-align: center;
  top: 102px;
  right: 0;
  color: #fff;
  font-size: 14px;
  font-family: "cairo-semibold";
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #e56737;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.catbox:hover .catname {
  width: 167px;
  opacity: 1;
}

.catbox {
  margin-bottom: 27px;
}

.bannerbox {
  margin-top: 22px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 22px;
}

.ban {
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bannerbox:hover {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.featbox {
  background-color: #e56737;
  padding: 30px 35px 25px 35px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: 17px;
}

.featimg,
.featimg img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.featbox:hover .featimg img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.featimg-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.featinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
  margin-top: 5px;
}

.featinfo h3 {
  float: right;
  margin: 0;
  font-size: 18px;
  color: #fff;
  font-family: "cairo-bold";
}

.featinfo p {
  margin: 0;
  font-size: 12px;
  color: #ffb99f;
  margin-top: 5px;
}

@media (min-width: 992px) {
  .fast_links .collapse {
    display: block;
  }
}

.site-footer {
  background-color: #757d80;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 20px 20px 0px 0px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  margin: 0;
  font-size: 17px;
  color: #fff;
  font-family: "cairo-bold";
  margin-top: 65px;
  margin-bottom: 35px;
}

.site-footer p {
  color: #b7b7b7;
}

.site-footer a {
  color: #fff;
  font-size: 15px;
  font-family: "cairo-light";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.site-footer a:hover {
  color: #e56737;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #b7b7b7;
}

.footer-links a:hover {
  background-color: transparent;
  border: 0;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
  border-top: 1px solid #7f8587;
}

.copyright-text {
  margin: 0;
  font-size: 12px;
  color: #b6b5b5;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/*reponsive*/
@media (min-width: 992px) and (max-width: 1199px) {
  .side-item {
    max-width: 250px;
    margin: auto;
  }
  .product .owl-carousel .owl-nav button.owl-next {
    left: -8px;
  }
  .product .owl-carousel .owl-nav button.owl-prev {
    right: -8px;
  }
  .catbox {
    margin: auto;
    display: table;
    margin-bottom: 27px;
  }
  .featbox {
    margin: auto;
    margin-bottom: 20px;
    width: auto;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  .side-slider .owl-dots {
    bottom: 20px;
  }
  .logo-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    margin-top: 17px;
    margin-bottom: 15px;
  }
  .searchbox {
    width: 100%;
    margin-bottom: 20px;
  }
  .account {
    margin-bottom: 13px;
  }
  .product .owl-carousel .owl-nav button.owl-next,
  .product .owl-carousel .owl-nav button.owl-prev {
    display: none;
  }
  .side-item {
    max-width: 280px;
    margin: auto;
  }
  .catbox {
    margin: auto;
    margin-bottom: 15px;
    display: table;
  }
  .featbox {
    margin: auto;
    margin-bottom: 13px;
    width: 100%;
  }
  .fast_links {
    padding: 0;
    background-color: #7f8587;
    width: 100%;
    display: block;
    border-bottom: 1px solid #8e9294;
  }
  .fast_links.cont {
    border: 0;
  }
  .load .fast_links h5 {
    margin-right: 0;
  }
  .load .fast_links {
    background-color: transparent;
    border: 0;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .fast_links h5 {
    margin: 0;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
  }
  .footpad {
    margin-bottom: 0;
  }
  .copy_social {
    min-height: 58px;
    line-height: 58px;
    border-top: 0;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
  }
  .fast_links .footerinfo p {
    padding-right: 14px;
  }
  .copy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .fast_links .footerinfo a {
    padding-right: 15px;
  }
  .social {
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 13px;
  }
  .social li a {
    background-color: #e56737;
    padding-right: 0 !important;
  }
  .fast_links .alist li a {
    padding-right: 15px;
  }
  .fast_links ul {
    padding-bottom: 10px;
  }
  .fast_links .sm_title:after {
    content: "\f067";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: #fff;
    font-size: 11px;
    position: absolute;
    left: 40px;
  }
  .fast_links .sm_title[aria-expanded="true"]:after {
    content: "\f068";
  }
  .mob-nav {
    position: fixed;
    height: 100%;
    width: 290px;
    right: -290px;
    top: 0;
    background-color: #fff;
    z-index: 9999999999999999999999999999;
    padding-top: 50px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.175);
    overflow: auto;
  }
  .mob-nav.open {
    right: 0;
  }
  .button-mob {
    height: 50px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
  .button-mob p {
    display: inline-block;
    margin: 0;
  }
  .moboverlay {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    overflow: hidden;
  }
  .ovh {
    overflow: hidden;
  }
  .mob-nav .navbar-nav {
    margin: 0;
  }
  .mob-nav ul {
    background-color: #fff;
    padding: 0;
    list-style: none;
  }
  .mob-nav > ul {
    margin-top: 25px;
    padding: 0 30px;
  }
  .mob-nav ul li {
    border-bottom: 1px solid #eee;
  }
  .mob-nav ul li:last-child {
    border-bottom: 0;
  }
  .mob-nav ul li ul {
    background-color: transparent;
    border: 0;
    margin-bottom: 10px;
  }
  .mob-nav ul li ul li {
    border: 0;
  }
  .mob-nav ul li ul li a {
    line-height: 40px;
  }
  .mob-nav ul li ul li ul {
    background-color: #e5e5e5;
  }
  .mob-nav ul li a {
    display: block;
    position: relative;
    line-height: 45px;
    color: #757d80;
    font-size: 14px;
  }
  .mob-nav .nav > li > a:hover,
  .nav > li > a:focus {
    background-color: transparent;
  }
  .mob-nav .nav > li > a:hover,
  .nav > li > a {
    color: #757d80;
    font-size: 14px;
  }
  .mob-nav li a:focus,
  .mob-nav li a:hover {
    color: #e56737;
  }
  .mob-nav .navbar-nav .open .dropdown-menu {
    padding: 0;
  }
  .mob-nav .fa-times {
    position: absolute;
    top: 30px;
    z-index: 100000;
    font-size: 14px;
    left: 25px;
    color: #757d80;
  }
  .button-mob .fa-bars {
    font-size: 18px;
  }
  .nav_bar .dropdown-menu .sec_drop:after {
    font-family: FontAwesome;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
  }
  .doo:after {
    font-family: FontAwesome;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    position: absolute;
    display: block;
    color: #2b333c;
    top: 0;
    font-size: 12px;
    left: 10px;
  }
  .doo[aria-expanded="true"]:after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  .down:after {
    font-family: FontAwesome;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    position: absolute;
    display: block;
    color: #2b333c;
    top: 0;
    font-size: 12px;
  }
  .down[aria-expanded="true"]:after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  .dropdown-menu > li > a {
    color: #000;
  }
  .down:last-child:after {
    display: none;
  }
  .mob-nav ul li ul li ul {
    background-color: #dcd9d9;
  }
  .button-mob .fa-bars {
    font-size: 18px;
    color: #fff;
    margin-right: 12px;
    margin-left: 7px;
  }
  .button-mob span {
    font-size: 16px;
    text-transform: uppercase;
  }
  .button-mob {
    background-color: #757d80;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
  }
  .topnav a {
    display: block;
    margin: auto;
    background-color: #e56737;
    line-height: 45px;
    height: 45px;
    text-align: center !important;
    color: #fff !important;
    width: 150px;
    margin-top: 20px;
  }
  .topnav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topnav a:hover {
    -webkit-transform: none;
            transform: none;
    color: #fff;
  }
  .mob-nav ul li.contact {
    border: 0;
  }
}

@media (max-width: 767px) {
  .side-slider {
    margin-bottom: 35px;
  }
  .side-slider .owl-carousel .owl-nav .owl-prev,
  .side-slider .owl-carousel .owl-nav .owl-next {
    display: none;
  }
  .side-slider .owl-dots {
    display: none;
  }
  .catname {
    top: 81px;
  }
  .side-item {
    max-width: 210px;
  }
  .product .owl-carousel .owl-nav button.owl-next,
  .product .owl-carousel .owl-nav button.owl-prev {
    display: block;
  }
  .product .owl-carousel .owl-nav button.owl-next {
    left: 2px;
  }
  .product .owl-carousel .owl-nav button.owl-prev {
    right: 2px;
  }
  .feature {
    margin-bottom: 15px;
  }
}

.prodTimer.shown {
  left: 50%;
  font-size: 15px;
  color: #b8052c;
  font-weight: bold;
  width: 100%;
  top: 2px;
  padding: 5px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.n-image-additional,
.n-image-additional a {
  float: none !important;
  display: block !important;
  width: 100%;
  max-width: 460px;
  position: relative;
}

.thumbnails .n-image-additional i {
  font-size: 50px;
  left: 44%;
  position: absolute;
  top: 40%;
  color: #f23702;
}

@media (max-width: 457px) {
  .pro-slider .owl-dots .owl-dot {
    width: 6px;
    margin: 0px 3px;
    height: 6px;
  }
}

@media (max-width: 373px) {
  .fast_links h5 {
    font-size: 13px;
  }
}

.sectionadv {
  position: relative;
}

.sectionadv div:first-child,
.sectionadv div:last-child {
  position: absolute;
  width: 220px;
  height: 2105px;
  z-index: 999;
  top: -46px;
}

.sectionadv div:first-child {
  right: 100%;
  margin-right: 15px;
}

.sectionadv div:last-child {
  left: 100%;
  margin-left: 15px;
}

@media (max-width: 767px) {
  .sectionadv {
    display: none;
  }
}

body.offcanvas-active {
  overflow: hidden;
}

.offcanvas-header {
  display: none;
}

@media (max-width: 992px) {
  .offcanvas-header {
    display: block;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 70%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    -webkit-transition: visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=styleAr.css.map */